doctype html
html
    head
    body
        .class-body
            p This is body
                h3.title #{field}
                    include first-container
                    include second-container
            include footer